@keyframes ani
{
from{opacity:0;}
to {opacity:1;}
}


@keyframes ani2
{
from{width:0;}
to {width:100%;}
}



header
{
background:black;
color:white;
text-align:center;
font-size:40px;
Font-family:arial black;
}

body
{
background:white;
animation:ani 1s;
animation:ani2 1s;
transition:1s;

}
#row
{
Width:98%;
margin-top:10px;
display:block;
margin:left;
}

#col1
{
text-align:justify;

}

.mystyle h2,h3,h4
{
font-size:25px;
}

.mystyle p1
{
font-size:17px;
Font-family:Times New Roman;
}




